<a href="https://colab.research.google.com/github/kittikhun62/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้
ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR3S-Xmbm8H6XKkFn1Ds6nMg-VXTs22G5W4yClQAOBCQDRJ_NrzPvuRw3Oo)
* โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้
* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx
โดยข้อมูลสำคัญที่ต้องแสดงคือ
* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)

**ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565**

###Drive : https://drive.google.com/drive/u/0/folders/1X59B99CW_a5cfCD8k94eLNI6onfLosOl

###Dashboard :

#เชื่อม Drive

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
import os
path = '/content/drive/My Drive/Final_Exam'

In [11]:
import pandas as pd
import numpy as np

#นำเข้าข้อมูล การตรวจโรค(ov)

In [12]:
data_file_path = os.path.join(path,'alldb.xlsx')
alldb = pd.read_excel(data_file_path)

##เลือกเฉพาะ Column ที่ต้องการ

In [13]:
alldb_new = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']]
alldb_new

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0.0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaT,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaT,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2.0,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaT,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1.0,เสรี
40033,NaN,bbuogxulur.png,NaT,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaT,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1.0,เสรี

###ใช้ .dropna ตัดแถวข้อมูลที่มีค่า missing

In [14]:
alldb_drop =alldb_new.dropna()
alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0.0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0.0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0.0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0.0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0.0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2.0,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2.0,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3.0,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2.0,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2.0,zzz

In [15]:
alldb_drop.dtypes

user                    object
RowKey                  object
date            datetime64[ns]
phone                   object
site                    object
time                    object
urine                   object
ov                     float64
PartitionKey            object
dtype: object

## เปลี่ยน types ของข้อมูล

###user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [16]:
alldb_drop = alldb_drop[(alldb_drop['user'].astype(str).str.isdigit()) & (alldb_drop['user'].str.len() == 5)]
alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0.0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0.0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0.0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4.0,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4.0,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1.0,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0.0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1.0,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1.0,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1.0,99999

###RowKey เป็น String

In [17]:
alldb_drop['RowKey'].astype({'RowKey':'string'}).dtypes

string[python]

###date เป็น YYYY-MM-DD

In [18]:
import datetime #ทำการ import package datetime 
alldb_drop = pd.DataFrame(alldb_drop)
alldb_drop['date'] = pd.to_datetime(alldb_drop['date'])
alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0.0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0.0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0.0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4.0,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4.0,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1.0,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0.0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1.0,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1.0,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1.0,99999

###phone เป็น String

In [19]:
alldb_drop['phone'].astype({'phone':'string'}).dtypes

string[python]

###site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [20]:
alldb = alldb[(alldb['site'].astype(str).str.isdigit()) & (alldb['site'].str.len() == 5)]
alldb

,Column1,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0.0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
6,6,3450101576642,538F4D59-A921-46BF-82B0-E6834F98957E,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:57:24,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaT,NaN,"iPhone13,4",01234,NaN,NaN,5.0,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaT,2.0,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5.0,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaT,1.0,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1.0,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaT,NaN,Samsung SM-A115F,01234,NaN,NaN,1.0,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaT,1.0,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1.0,เสรี,data is not completed,data is not completed

###time เป็น hh-mm-ss

In [21]:
import datetime #ทำการ import package datetime 
alldb_drop = pd.DataFrame(alldb_drop) 
alldb_drop['time'] = pd.to_datetime(alldb_drop['time'],format= '%H:%M:%S' ).dt.time
alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0.0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0.0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0.0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4.0,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4.0,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1.0,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0.0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1.0,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1.0,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1.0,99999

###urine มีค่า String

In [22]:
alldb_drop['urine'].astype({'urine':'string'}).dtypes

string[python]

###ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [23]:
alldb_drop = alldb.dropna(subset=['ov'])
alldb_drop

,Column1,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0.0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
9,9,3450101576642,9AF8428C-0616-47DE-AB4C-54F31EA31979,NaN,2022-02-23,0.0,"iPhone13,4",05087,10:11:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
10,10,3450101576642,B7C1D24C-8090-4C2F-BC04-7CC4D09663DC,NaN,2022-02-23,0.0,"iPhone13,4",05087,09:58:42,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
13,13,3450101576642,C5E5C877-D7BC-4137-A328-8F350932B9DF,NaN,2022-02-23,0.0,"iPhone13,4",05087,09:58:03,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
14,14,3450101576642,D94E9A26-80AF-4A24-A4DC-A4F78414694C,NaN,2022-02-23,0.0,"iPhone13,4",05087,10:00:11,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40025,40025,NaN,84885775-8E1D-45E1-A9C2-941CAC3F1814,NaN,NaT,2.0,"iPhone9,4",01234,NaN,ปกติ (เหลืองใส),3.0,จิ๊บ,data is not completed,data is not completed
40028,40028,NaN,lkwfdvltek.png,NaN,NaT,2.0,Samsung SM-A307GN,01234,NaN,ปกติ (เหลืองใส),7.0,พัชราภรณ์,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaT,2.0,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5.0,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaT,1.0,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1.0,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaT,1.0,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1.0,เสรี,data is not completed,data is not completed

In [24]:
set(alldb_drop['ov'])

{0.0, 1.0, 2.0, 3.0, 4.0}

In [25]:
alldb_drop['ov'].replace({'ปกติ (เหลืองใส)':'0',
 'ขุ่น':'0',
 'ติดเชื้อ +2 ':'0',
 'ปกติ (เหลืองใส)':'0',
 'มีตะกอน':'0',
 'มีเม็ดเลือดแดง':'0',
 'สีน้ำนม':'0',
 'สีฟ้า หรือน้ำเงิน':'0',
 'ใสเป็นน้ำเปล่า':'0'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [26]:
set(alldb_drop['ov'])

{0.0, 1.0, 2.0, 3.0, 4.0}

In [27]:
alldb_drop['ov'] = alldb_drop['ov'].astype('int')
alldb_drop

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Column1,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
9,9,3450101576642,9AF8428C-0616-47DE-AB4C-54F31EA31979,NaN,2022-02-23,0,"iPhone13,4",05087,10:11:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
10,10,3450101576642,B7C1D24C-8090-4C2F-BC04-7CC4D09663DC,NaN,2022-02-23,0,"iPhone13,4",05087,09:58:42,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
13,13,3450101576642,C5E5C877-D7BC-4137-A328-8F350932B9DF,NaN,2022-02-23,0,"iPhone13,4",05087,09:58:03,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
14,14,3450101576642,D94E9A26-80AF-4A24-A4DC-A4F78414694C,NaN,2022-02-23,0,"iPhone13,4",05087,10:00:11,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40025,40025,NaN,84885775-8E1D-45E1-A9C2-941CAC3F1814,NaN,NaT,2,"iPhone9,4",01234,NaN,ปกติ (เหลืองใส),3.0,จิ๊บ,data is not completed,data is not completed
40028,40028,NaN,lkwfdvltek.png,NaN,NaT,2,Samsung SM-A307GN,01234,NaN,ปกติ (เหลืองใส),7.0,พัชราภรณ์,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaT,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5.0,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaT,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1.0,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaT,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1.0,เสรี,data is not completed,data is not completed

###PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [28]:
alldb_drop = alldb_drop[(alldb_drop['PartitionKey'].astype(str).str.isdigit()) & (alldb_drop['PartitionKey'].str.len() == 5)]
alldb_drop

,Column1,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
189,189,NaN,D572BA4E-08C2-4902-8445-386AECC6C263,NaN,NaT,4,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),4.0,00000,NaN,NaN
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),NaN,00001,นางสาว,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),NaN,00001,นาง,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),NaN,00001,นาง,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

In [29]:
alldb_drop.dtypes

Column1                  int64
user                    object
RowKey                  object
care                    object
date            datetime64[ns]
ov                       int64
phone                   object
site                    object
time                    object
urine                   object
pid                    float64
PartitionKey            object
title                   object
age                     object
dtype: object

เเก้ type

In [53]:
alldb_drop['user'] = pd.to_numeric(alldb_drop['user'], errors='coerce')     
alldb_drop['date'] = pd.to_datetime(alldb_drop['date'],format="%d/%m/%Y")
alldb_drop['time'] = pd.to_datetime(alldb_drop['time'],format='%H:%M%:%S',errors='ignore')
alldb_drop['phone']=alldb_drop['phone'].astype('string')
alldb_drop['urine']=alldb_drop['urine'].astype('string')
alldb_drop['site']=alldb_drop['site'].astype('int64')
alldb_drop['PartitionKey']=alldb_drop['PartitionKey'].astype('int64')
alldb_drop['RowKey']=alldb_drop['RowKey'].astype('string')
alldb_drop.dtypes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Column1                  int64
user                   float64
RowKey                  string
care                    object
date            datetime64[ns]
ov                       int64
phone                   string
site                     int64
time                    object
urine                   string
pid                    float64
PartitionKey             int64
title                   object
age                     object
user                   float64
dtype: object

#นำเข้าข้อมูลโรงพยาบาล

In [30]:
hospital_list =  pd.read_excel(os.path.join(path,'hospital_list.xlsx')) ## ทำการนำเข้าข้อมูล โรงพยาบาล โดยการเรียกใช้ข้อมูลประเภท .xlsx ใน drive ไฟล์ที่เรียกใช้คือ hospital_list.xlsx # โดยตั้งชื่ตารางว่า hospital_list
hospital_list.head() ## แสดงตาราง hospital_list

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG

In [31]:
hospital_list.dtypes

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

เเก้ type

##ตรวจสอบ Missing