<a href="https://colab.research.google.com/github/kittikhun62/data_viz_2022/blob/main/final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd     # pandas ใช้จัดการข้อมูลที่เป็นตาราง
import os       # os ใช้จัดการกับไฟล์ ว่าอยู่ที่ไหน

In [6]:
from google.colab import drive      # ชี้ไฟล์ที่อยู่ใน google drive เพื่อเชื่อมต่อไฟล์
drive.mount('/content/drive')
path = '/content/drive/My Drive/final'      # ชี้ dirve ที่เราต้องการ

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
data_file_path = os.path.join(path,'confirmed-cases-since-280265.xlsx')   
data_cases = pd.read_excel(data_file_path)

In [8]:
data_cases

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
484348,3353965,2022-03-20,2022-03-19,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
484349,3353966,2022-03-20,2022-03-19,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
484350,3353967,2022-03-20,2022-03-19,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
484351,3353968,2022-03-20,2022-03-19,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
484352,3353969,2022-03-20,2022-03-19,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [9]:
data_file_path = os.path.join(path,'confirmed-cases-since-271064.xlsx')   
data_cases1 = pd.read_excel(data_file_path)

In [10]:
data_cases1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,2021-10-26,2021-10-25,ชาย,20,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,2021-10-26,2021-10-25,หญิง,42,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,2021-10-26,2021-10-25,หญิง,33,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,2021-10-26,2021-10-25,หญิง,52,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,2021-10-26,2021-10-25,หญิง,84,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [12]:
data_cases_PD = pd.concat([data_cases,data_cases1])
data_cases_PD

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,2022-02-27,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,2022-02-27,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,2022-02-27,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,2022-02-27,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,2022-02-27,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,2022-02-27,2022-02-26,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [ ]:
data_cases_all = data_cases_PD[(data_cases_PD['announce_date']>='2022-03-01') & (data_cases_PD['announce_date']<='2022-03-04')]